version: "3.7"
services:
    app:
        build:
            context: ../
            dockerfile: ./docker/php/Dockerfile
        image: demo-app
        container_name: demo-app
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ../:/var/www
        networks:
            - demo

    db:
        image: mysql:8.0
        container_name: demo-db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            SERVICE_TAGS: dev
            SERVICE_NAME: mysql
        volumes:
            - ./mysql:/docker-entrypoint-initdb.d
        networks:
            - demo

    nginx:
        image: nginx:alpine
        container_name: demo-nginx
        restart: unless-stopped
        ports:
            - 8000:80
        volumes:
            - ../:/var/www
            - ./nginx:/etc/nginx/conf.d/
        networks:
            - demo

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: demo-phpmyadmin
        restart: unless-stopped
        ports:
            - 8080:80
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        depends_on:
            - db
        networks:
            - demo

networks:
    demo:
        driver: bridge
